*{
	margin: 0px;
	padding: 0px;
	font-size:100%;
	font-style:normal;

}

html ,body {height: 100%}

html{ overflow-y:auto; } 

div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,a,form,input,object,dt,dd,dl,iframe,label{margin:0; padding:0; text-align:left; }

ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

body {
	margin : 0px;
	background : #FFF;
	color: #666666;
	font-family:"Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif";
	margin:0 auto;
	padding:0;
	text-align:center;
}

img{border:0}

p {font-size:80%;}

.text-img {
	left:-5000px;
	position:absolute;
}

.indent{
display:block;
float:left;
height:1em;
width:1em;
}

a{
	color: #004894;
	text-decoration:underline;
}
a:hover{
	color: #004894;
	text-decoration:underline;
}
a:visited{
	color: #004894;
	text-decoration:underline;
}
a:active{
	color: #004894;
	text-decoration:underline;
}
a:hover img{
	opacity:0.8;
	filter:alpha(opacity=80);
}

h1 {
	float:left;
}


h2 {
	margin-bottom: 0px;
	font-size:120%;
	font-weight:bold;
	line-height: 120%;
	color: #666666;
	margin:0 0 10px 0;
}

h3 {
	margin-bottom: 5px;
	color: #3CBDD9;
	font-size: 110%;
	font-weight: bold;
}

h4 {
	margin-bottom: 3px;
	color: #3CBDD9;
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #3CBDD9;
}

h5 {
	background: #FFFFFF;
	margin: 0px;
}
.space {
    height:50px;
	clear:both;
}
.clear{
	clear:both;}

.red{
	color: #C00;}

/*:footer:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#footer {
	background : #007086 url(../../images/foot_bg.gif) repeat-x;
	bottom:0px;
	left:0px;
	margin:0pt auto;
	position:fixed;
	width:100%;
	height: 85px;
	z-index:100;
}

#footer_menu {
	margin:0pt auto;
	height: 30px;
	text-align:left;
	width:900px;
	overflow:hidden;
}

ul#footer_menu li{
	margin: 10px 0 0 -10px;
	list-style-type:none;
	padding: 0 10px;
	float:left;
	font-size: 75%;
}

ul#footer_menu li a{
	text-decoration: none;
	list-style-type:none;
	float:left;
	color: #007086;
}

ul#footer_menu li a:hover{
	float:left;
	color: #00A2C4;
}
#footer .copyright {
	margin:0pt auto;
	padding: 15px 0 0 0;
	height: 40px;
	text-align:left;
	width:900px;
}
