body {
	background-image: url(../../index_images/bg_index.gif);
	background-repeat: repeat-x;
	background-position: top;}



div#index_page {
	width:900px;
	padding: 0;
	margin : 0 auto;

}


/*:headder menu:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#head_contents{
	display:block;
	width: 900px;
	height: 50px;
	margin:auto;
}
#fontsizewrap {
	display:block;
	width: 190px;
	height: 20PX;
	float:right;
	margin-top: 20px;
}

#head_contents_menu {
	background:transparent url(../../images/header_menu.gif) no-repeat scroll 0%;
	display:block;
	width: 900px;
	height: 30px;
	margin:auto;
	clear:both;
}

ul#nav2 li {
	list-style-type:none;
	float:left;
	padding:0 0 0 5px;
}

div#index_container {
	width: 900px;
	height: 300px;
	padding: 15px 0 5px;
	display:block;
	margin: 0;	
}

div#page_top {
	margin-bottom: 10px;
	display:block;
	float: left;
}
div#index_banner {
	margin: 0;
	padding: 0;
	display:block;
	float: right;
	background:url(../../index_images/indexbn_bg.gif) no-repeat;
}

.sidemenu_contents {	margin-top: 5px; padding: 0; border:0}

.hedder_menu{
	padding: 0px;
	margin: 0px;
	color: #FFFFFF; 
	text-align: right;
	clear:both;
}

div#base_box {
	width: 900px;
	margin: 0px;
	padding: 0px;
	background: #EEEEEE;
	float: left;
}

/*:main:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

div#main {
	width: 900px;
	margin: 20px 0;
	background: #FFF;
	display:block;
}

div#main a{
	color: #004894;
}

div#info {
	width: 660px;
	margin: 0;
	padding-top: 45px;
	background: #FFF url(../../index_images/title_info.gif) no-repeat;
	display:block;
	float: left;
}

ul#infolist li {
	list-style-type:none;
	margin: 2pt 0;
	height: 100%;
}

ul#infolist li p {
	margin-top: 0px;
	padding-left: 65px;
	line-height: 130%;
}
ul#infolist h1 {
	color:#C00;
	font-size: 95%;
	font-weight: bold;
}

ul#infolist li.list_w {
	background: #FFF;
	padding: 8px;
}

ul#infolist li.list_c {
	background: #E5F6F8;
	padding: 8px;
}

ul#infolist li dl{
	padding-left:65px;}
	
ul#infolist li dt{
	float:left;
	width:90px;
	line-height: 130%;
	clear:both;
	font-size:80%;
	margin-bottom:2px;}
	
ul#infolist li dd{
	float:right;
	width:485px;
	line-height: 130%;
	font-size:80%;
	margin-bottom:2px;}

ul#infolist span.F80{
	margin-top: 0px;
	font-size:80%;
	line-height: 130%;}	
	
ul#infolist span.FB100{
	margin-top: 0px;
	font-size:100%;
	font-weight:bold;
	padding-bottom:5px;
	line-height: 130%;}
	
ul#infolist span.FB100 a{
	color: #C00;
	text-decoration:none;}
	
ul#infolist span.FB100 a:hover{
	color: #C00;
	text-decoration:underline;}
	

div#news {
	width: 230px;
	margin: 0;
	padding-top: 45px;
	background: #FFF url(../../index_images/title_news.gif) no-repeat;
	display:block;
	float: right;
}

ul#newslist li {
	list-style-type:none;
	height: 100%;
	border-bottom: 1px dashed #1A9AA9;
	padding: 5px 0;
}

ul#newslist li p {
	line-height: 130%;
}

span.blue{
	color: #004894;}


/*:bannar:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

div#contents_banner{
	width: 900px;
	height: 185px;
	background : #FFF url(../../index_images/banner_bg.gif) no-repeat;
	margin-top: 25px;
	padding-top: 10px;
	padding-left: 10px;
	display:block;
	float: left;
}

ul#banner li {
	list-style-type:none;
	float:left;
	margin-right: 5px;
}

/*:table:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

table.ItemBox{
	margin-left: 70px;
	margin-top:5px;
	}
	
table.ItemBox a img {
	border:none;}
	

	
table.ItemBox a {
	font-size: 12px;}
