/* CSS Document */


@charset "Shift_JIS";

body{
	overflow: visible !important;
	float: none !important;
	background:#FFFFFF;
	background-image:none;
}

#content .column {
	width:660px;
}

#fontsizewrap{
    display:none;
}

#index_container{
	display: none;
}

#index_banner{
	display: none;
}

#contents_banner{
	display: none;
}

#header{
	display: none;
}
#menu{
	display: none;
}

#fontsizewrap{
	display: none;
}

#fontsizewrap {
	display: none;
}

#head_contents {
	display: none;
}

#footer{
    display:none;
}

#index_banner {
	display: none;
}

#sidebar{
	display: none;
}

.cell04{
	display: none;
}



.titlebox1{
	display: ;
}

.titlebox2{
	display: ;
}


.noprint{
	display: none;
}

#privacy{
    background-color:#FFFFFF;
	background:none;
}
.syomei { 
	background:#FFFFFF;
}
#floatboxwrap {
	width: 660px;
}