@charset:"UTF-8";

/*--------------------
	common
--------------------*/
html { font-size:62.5%; }

body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	width: 100%;
	font-size: 1.0rem;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}

/*--------------------
	header
--------------------*/
header {
	width: 87.1875%;
	margin: 0 auto;
	padding-top: 30px;
	position: relative;
}

header h1 {
	width: 38.75%;
	float: left;
}

/*グラデーション*/
#head_gradation {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.95, #e50011), color-stop(0.00, #520006));
	background: -webkit-linear-gradient(top, #520006 0%, #e50011 95%);
	background: -moz-linear-gradient(top, #520006 0%, #e50011 95%);
	background: -o-linear-gradient(top, #520006 0%, #e50011 95%);
	background: -ms-linear-gradient(top, #520006 0%, #e50011 95%);
	background: linear-gradient(top, #520006 0%, #e50011 95%);
}


/*--------------------
	menu
--------------------*/
.btn_menu {
	width: 88px;
	float: right;
}

nav {
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 9999;
	width: 56%;
	padding-bottom: 5px;
	overflow: hidden;
	/*border-radius: 0 0 5px 5px;*/
}

nav ul li a {
	display: block;
	color: #000000;
	background: #fff;
	font-size: 5rem;
	text-decoration: none;
	padding: 6% 0 6% 7%;
	border-bottom: 1px solid #d6b9bb;
	margin: 0;
}

nav ul li.bor_bold a {
	border-bottom: 2px solid #d6b9bb;
}

nav ul li.menu_ttl {
	background: #fff;
	font-size: 4rem;
	color: #e50011;
	padding: 6% 0 0 7%;
	border: none;
	margin-bottom: -2px;
}
/*
nav ul li.menu_ttl a {
	font-size: 4rem;
	color: #e50011;
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: -2px;
}*/

nav ul li:last-child a {
	border-bottom: none;
	/*border-radius: 0 0 5px 5px;*/
}

#close {
	display: block;
	width: 88px;
	height: 84px;
	cursor: pointer;
	margin-left: auto;
	border: none;
}

#close + li a {
	/*border-radius: 5px 0 0 0;*/
	margin-top: -1px;
}

nav ul li:first-child {
	/*border-radius: 8px;*/
}
nav ul li:first-child + li {
	/*border-radius: 5px 0 0 0;*/
}
nav ul li:last-child {
	/*border-radius: 0 0 5px 5px;*/
}

/*--------------------
	brands
--------------------*/
.brands {
	padding: 3% 0 6% 0;
}

.brands.shadow {
	box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25) inset;
}

.brands h3 {
	width: 20%;
	margin: 0 auto;
}

.brand_list {
	margin: 0 auto;
	margin-top: 2%;
	width: 92.73%;
}

.brand_list li {
	width: 29.82%;
	float: left;
	margin: 0 0 4% 4%;
}

.brand_list li:nth-child(3n+1) {
	margin-left: 0;
}


/*--------------------
	footer
--------------------*/
footer {
	background: #eaeaea;
}

footer h2 {
	width: 32.03%;
	margin: 0 auto;
	padding: 8.5% 0;
}

footer:after {
	display: block;
	content: "";
	background: #000;
	padding-top: 4%;
}