@charset:"UTF-8";

/*以下、末端共通*/
img {vertical-align: bottom;}

h2 {
	width: 88.125%;
	margin: 0 auto;
	margin-top: 3.9%;
}

/*以下、コンテンツエリア*/
.new h4 {
	font-size: 3.6rem;
	text-align: center;
	margin: 3.5% 0 3.9% 0;
}

.bg_main {
	width: 88.28%;
	margin: 0 auto;
}

.entry {
	background: url("../images/new/bg_img.jpg") no-repeat top center;
	background-size: cover;
	width: 100%;
	padding-bottom: 20%;
	position: relative;
}

.img_txt {
	width: 78%;
	margin: 0 auto;
	padding-top: 22%;
}

.bg_new {
	background: url("../images/new/bg_new.jpg") top left;
	width: 100%;
	padding: 4% 0 3% 0;
}

.img_ent {
	width: 39%;
	position: absolute;
	bottom: -7%;
	left: 30%;
}

.btn_ent {
	display: block;
	width: 57.52%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background-color: #fff;
	border: solid 4px #fab7b7;
	background-image: -webkit-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -moz-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -o-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -ms-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: linear-gradient(to top, #dfdfdf, #fff 59%);
	text-align: center;
	text-decoration: none;
	color: #dd000d;
	margin: 0 auto;
	padding: 2.3% 0;
	font-size: 4.2rem;
	font-weight: bold;
}

.inq_area {
	width: 88.125%;
	margin: 0 auto;
	margin-top: 5.4%;
	margin-bottom: 6%;
	border: 1px solid #e00011;
	border-radius: 10px;
	padding-bottom: 4.2%;
}

.inq_area h3 {
	background: #e00011;
	border-radius: 10px 10px 0 0;
	color: #fff;
	text-align: center;
	font-size: 4.4rem;
	padding: 1.56% 0 1.95% 0;
}

.inq_area dl {
	font-size: 3.6rem;
}

.inq_area dl dt,
.inq_area dl dd {
	border-top: 1px solid #979797;
	padding: 4.43% 0 3.98% 0;
	padding-left: 3.1%;
	margin-left: 10px;
}

.inq_area dl dt:first-child,
.inq_area dl dt:first-child + dd {
	border-top: none;
}

.inq_area dl dt {
	float: left;
	font-weight: bold;
}

.inq_area dl dd {
	padding-left: 30%;
	margin-right: 10px;
}

.btn_mail {
	display: block;
	width: 75.35%;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background-color: #fff;
	border: solid 4px #fab7b7;
	background-image: -webkit-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -moz-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -o-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: -ms-linear-gradient(bottom, #dfdfdf, #fff 59%);
	background-image: linear-gradient(to top, #dfdfdf, #fff 59%);
	text-align: center;
	text-decoration: none;
	color: #dd000d;
	margin: 0 auto;
	padding: 3.1% 0;
	font-size: 4.2rem;
}