@charset:"UTF-8";

/*以下、末端共通*/
img {vertical-align: bottom;}

h2 {
	width: 88.125%;
	margin: 0 auto;
	margin-top: 3.9%;
}

/*以下、コンテンツエリア*/
table {
	border-collapse:separate;
	border: 1px solid #e00011;
	border-radius: 8px;
	width: 87.96%;
	margin: 0 auto;
	margin-top: 5.93%;
}
table th,table td {
	line-height: 1.556em;
	font-size: 3.6rem;
	color: #3e3e3e;
	text-align: left;
	border-bottom: 1px solid #979797;
	padding: 2% 3%;
}
table tr:first-child th,
table tr:last-child th,
table tr:last-child td
 {
	border-bottom: 0;
}
table tr:last-child th,
table tr:last-child td {
	border-radius: 8px;
}
table th {
	border-left: 10px solid #fff;
	width: 25%;
	vertical-align: middle;
}
table th.ttl_outline {
	background: #e00011;
	color: #fff;
	font-size: 4.4rem;
	text-align: center;
	border-left: 0;
	border-radius: 5px 5px 0 0;
	margin: 0;
}
table td {
	border-right: 10px solid #fff;
	padding-right: 0;
	width: 100%;
}
table td.shops_table {
	border-left: 10px solid #fff;
}

.shops_table p {
	font-weight: bold;
	margin-bottom: 1%;
}

.shops_table dl {
	margin-bottom: 2%;
}

.shops_table dt {
	font-weight: bold;
}

.shops_table dd {
	padding-left: 3%;
}

h4 {
	background: #e00011;
	color: #fff;
	font-size: 4.4rem;
	width: 88.28%;
	text-align: center;
	border-radius: 5px 5px 0 0;
	margin: 0 auto;
	margin-top: 8%;
	padding: 2% 0;
}

.history {
	font-size: 3rem;
	width: 88.28%;
	border: 1px solid #e00011;
	border-radius: 0 0 5px 5px;
	margin: 0 auto;
	margin-bottom: 12.5%;
	color: #3e3e3e;
	padding: 0 10px;
}

.history dt,
.history dd {
	padding: 1.5% 0;
	border-top: 1px solid #979797;
	line-height: 1.4em;
}
.history dt:first-child,
.history dt:first-child + dd {
	border-top: none;
}

.history dt {
	float: left;
	font-weight: bold;
	padding-left: 3%;
}

.history dd {
	padding-left: 28%;
}