@charset:"UTF-8";

/*以下、末端共通*/
img {vertical-align: bottom;}

h2 {
	width: 88.125%;
	margin: 0 auto;
	margin-top: 3.9%;
}

/*以下、コンテンツエリア*/
h4 {
	width: 12.26%;
	margin: 6.25% auto;
}

.products {
	margin-bottom: 7%;
}

.products li {
	width: 87.8125%;
	margin: 0 auto;
	border: 1px solid #d1d1d1;
	padding: 1.245% 0;
	margin-top: 2.7%;
}

.products li a {
	display: block;
	text-decoration: none;
	color: #464646;
	overflow: hidden;
}
.products li a h5 {
	color: #e10011;
}

.products li img {
	width: 34.875%;
	float: left;
	margin: 0 3% 0 5px;
}

.products li h5 {
	color: #e10011;
	font-weight: bold;
	font-size: 3.6rem;
	margin: 1.77% 0;
}

.products li p {
	font-size: 3rem;
	line-height: 1.5em;
}

.products .r_btn {
	display: block;
	padding: 0;
	text-align: center;
	margin-top: 0.88%;
}

.products .r_btn.mg_t2 {
	margin-top: 2%;
}

.products .r_btn a {
	width: 96.975%;
	margin: 0 auto;
	display: block;
	background: #ededed;
	color: #e10011;
	text-decoration: none;
	font-size: 3.6rem;
	font-weight: bold;
	padding: 3.7% 0 3.3% 0;
}