@charset:"UTF-8";

/*以下、末端共通*/
img {vertical-align: bottom;}

h2 {
	width: 88.125%;
	margin: 0 auto;
	margin-top: 3.9%;
}

/*以下、コンテンツエリア*/
.shops h3 {
	color: #e00011;
	font-size: 4.4rem;
	font-weight: normal;
	text-align: center;
	margin: 3.6% 0;
}

.shops #acMenu {
	border: 1px solid #e00011;
	border-radius: 10px;
	width: 88.125%;
	margin: 0 auto;
	margin-bottom: 7.42%;
}

.shops #acMenu dt {
	background: #e00011 url("../images/shops/tab_open.jpg") no-repeat 98% 50%;
	text-align: center;
	border-radius: 8px 8px 0 0;
	padding: 1.9% 0;
	color: #fff;
	font-size: 4.4rem;
	font-weight: bold;
}
.shops #acMenu dt.active {
	background: #e00011 url("../images/shops/tab_close.jpg") no-repeat 98% 50%;
}

.shops #acMenu dd {
	font-size: 3rem;
	padding: 4% 3% 4% 3%;
}

.shops #acMenu dd.detail {
	padding-top: 0;
	display: none;
}

.shops #acMenu dd.detail .map_link {
	margin: 0;
	line-height: 1;
	font-size: 2.4rem;
	width: 45%;
	margin: 1% 0 0 auto;
	text-align: center;
}
.shops #acMenu dd.detail .map_link a {
	color: #e00011;
}

.shops #acMenu dd p {
	font-weight: bold;
	color: #494949;
	margin-bottom: 2.6%;
}

.shops #acMenu dd .cf p {
	float: right;
}
.shops #acMenu dd .cf p:first-child {
	float: left;
}

.shops #acMenu dd p span {
	font-weight: normal;
}

.shops #acMenu dd.detail .cf img {
	float: left;
	width: 50%;
	vertical-align: middle;
}
.shops #acMenu dd.detail .cf img:first-child {
	margin-right: 5%;
}

.shops #acMenu dd.detail .cf img:last-child { /*map画像が余白ありの為、map画像のみ小さくして中央に揃えることでごまかす*/
	width: 45%;
}

.shops #acMenu dd.detail p {
	font-weight: normal;
	margin: 4% 0 0 0;
	width: 100%;
	background: #fff;
	line-height: 1.5em;
}

.shops #acMenu dd.detail .manager {
	font-weight: bold;
	margin: 0;
}

.shops .btn_tel {
	display: block;
	width: 78%;
	margin: 5.078% auto 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #e00011;
	color: #fff;
	text-decoration: none;
	font-size: 3.6rem;
	text-align: center;
	padding: 2% 0;
}