@charset:"UTF-8";

/* bxslider部分 */
.main_slide {
	width: 86.875%;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 30px;
}

#bxslider li {
	border: 1px solid #fff;
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);
}

.tab li {
	float: left;
	width: 50%;
	background-color: #3a5fb5;
	border-top: solid 1px #fff;
	background-image: -webkit-linear-gradient(bottom, #b33942 46%, #9a2b34 55%, #b74851);
	background-image: -moz-linear-gradient(bottom, #b33942 46%, #9a2b34 55%, #b74851);
	background-image: -o-linear-gradient(bottom, #b33942 46%, #9a2b34 55%, #b74851);
	background-image: -ms-linear-gradient(bottom, #b33942 46%, #9a2b34 55%, #b74851);
	background-image: linear-gradient(to top, #b33942 46%, #9a2b34 55%, #b74851);
	font-size: 2.8rem;
	font-weight: bold;
	color: #fff;
	padding: 15px 0;
	text-align: center;
	cursor: pointer;
}

.tab li.select {
	background: #fff;
	color: #3d3d3d;
}
.info .hide {display: none;}

.info table {
	width: 100%;
	margin-top: 10px;
	/*box-shadow: 0px 15px 20px -15px rgba(0,0,0,0.25);*/
}

.info table tr {
	border-bottom: 2px solid #d6b9bb;
}

.info table th {
	width: 20%;
	font-size: 2.8rem;
	color: #e50011;
	text-align: center;
	vertical-align: middle;
	padding: 30px 45px;
}

.info table td {
	font-size: 3.6rem;
	line-height: 1.3em;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	padding: 30px 0;
}

.info table td a {
	color: #000000;
	text-decoration: none;
}

.shops {
	background: url("../images/top/striped_pattern.jpg") left top;
	box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25) inset;
	padding: 40px 0;
}

.shops h3 {
	width: 20%;
	margin: 0 auto;
}

.area {
	background: #fff;
	width: 89.06%;
	margin: 0 auto;
	margin-top: 2.3%;
	border-radius: 10px;
	padding: 2.9% 0 2% 0;
	margin-bottom: 1.5%;
	position: relative;
}

.area h4 {
	width: 20%;
	float: left;
	position: absolute;
	top: 36%;
	left: 50%;
	margin: 0 0 0 -46%;
}

.area .btn_area {
	float: right;
	width: 63.5%;
	margin-right: 6.1%;
}

.area .btn_area li a {
	display: block;
	font-size: 4rem;
	width: 46%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #e4e0ee;
	background-image: -webkit-linear-gradient(top, #90000b, #e50011);
	background-image: -moz-linear-gradient(top, #90000b, #e50011);
	background-image: -o-linear-gradient(top, #90000b, #e50011);
	background-image: -ms-linear-gradient(top, #90000b, #e50011);
	background-image: linear-gradient(to bottom, #90000b, #e50011);
	text-align: center;
	float: left;
	margin: 0 0 2.1% 3.9%;
	padding: 4% 0;
}

.area .btn_area li:nth-child(odd) {
	margin-left: 0;
}

.area .btn_area li a {
	text-decoration: none;
	color: #fff;
}

.recruit {
	background: #fff8df;
	position: relative;
	padding: 10% 0;
}

.recruit h3 {
	background: #eaeaea;
	border: 1px solid #7b7b7b;
	font-size: 4.8rem;
	color: #7a7a7a;
	width: 390px;
	padding: 20px 0;
	text-align: center;
	position: absolute;
	top: -45px;
	left: 50%;
	margin-left: -195px;
}

.btn_midway a {
	display: block;
	width: 81.09%;
	background: #eaeaea;
	color: #787878;
	border: 1px solid #b5b5b5;
	border-bottom: 2px solid #b5b5b5;
	font-size: 7.4rem;
	text-align: center;
	padding: 4.4% 0;
	margin: 0 auto;
	text-decoration: none;
}

.btn_new a {
	display: block;
	width: 81.09%;
	background: #797979;
	color: #fff;
	border: 1px solid #b5b5b5;
	font-size: 7.4rem;
	text-align: center;
	padding: 4.4% 0;
	margin: 0 auto;
	text-decoration: none;
}



#infoarea {
	width: 100%;
	padding: 20px 0;
	border-bottom: 2px solid #d6b9bb;
}
#infoarea dt {
	display: table;
	width: 20%;
	float:left;
	font-size: 2.8rem;
	color: #e50011;
	min-height: 90px;
	padding: 0 45px;
	font-weight: bold;
}
#infoarea dt span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#infoarea dd {
	font-size: 3.6rem;
	line-height: 1.3em;
  padding-right: 5%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#infoarea dd a {
	text-decoration: none;
	color: #000000;
}

.btn_items {
	width: 89%;
	margin: 0 auto;
	margin-top: 3%;
}

.bnr_coupon {
	width: 89%;
	margin: 6.25% auto;
}