html div#page {height: 100%;}

div#container {
	width:900px;
	padding: 0;
	text-align: center;
	display:block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


/* -- design -- */
#content .column {
	padding:0px;
	width:650px;
   height:100%;
}
#static {
   padding:0px;
   height:25px;
}
#movable {
	padding:0px;
	height:400px;
}

#code {
	display:block;
}

/* -- layout -- */
#wrap {
	width: 900px;
	float:left;
	text-align: left;
	margin: auto;
	line-height: 110%;
	padding:0 0 110px 0;
}
#content {
	width:900px;
	margin : 0 auto;
	padding:0 0 20px 0;
}
#sidebar {
   float:left;
   margin-left:-250px;
   width:230px;
}

#sidemenu_path_select a {
	background:url(../../images/movable_select.gif) no-repeat;
	width: 225px;
	height: 25px;
	margin-bottom: 5px;
	padding:10px 0px 0px 10px;
	color:#666;
	text-decoration: none;
	display: block;
}
#sidemenu_path_select a:hover {
	color:#666;
	text-decoration: none;
}

#sidemenu_path a {
	background:url(../../images/movable_noselect.gif) no-repeat;
	width: 225px;
	height: 25px;
	margin-bottom: 5px;
	padding:10px 0px 0px 10px;
	color:#666;
	text-decoration: none;
	display: block;
}
#sidemenu_path a:hover {
	background:url(../../images/movable_select.gif) no-repeat;
	width: 225px;
	height: 25px;
	margin-bottom: 5px;
	padding:10px 0px 0px 10px;
	color:#666;
	display: block;
	text-decoration: none;
}

#sidemenu {
	width:230px;
}
#sidemenu_contents {
	width:230px;
	height: 80px;
	padding-top:5px;
}

#static {
	width:230px;
}
#movable {
   position:absolute;
   bottom:0;
   margin-left:18px;
   width:230px;
}

/*:index:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.titlebox1{
	background: #FFFFFF;
	width: 650px;
	margin-bottom: 20px;
}
.titlebox2 {
	background: #FFFFFF;
	width: 650px;
	padding-bottom: 10px;
}
.lead {
	width: 650px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #666666;
	font-size: 90%;
	line-height: 140%;
}
.lead  em{
	font-weight: bolder;
	color: #D20000;
}

.subheading {
	margin-bottom: 2px;
	padding-top:13px;
	color: #3CBDD9;
	font-weight: bold;
	font-size: 100%;
}

/*:contents head:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#head_contents {
	height:100px;
	margin:0 0 30px 0;
	background-color: #00A9B9;
}

/*:headder menu:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#head_contents_logo{
	display:block;
	width: 900px;
	height: 60px;
	margin:auto;
}
#fontsizewrap {
	display:block;
	width: 190px;
	height: 20PX;
	float:right;
	margin-top: 20px;
	background-image: url(../../images/bg_fontsize.gif);
	background-repeat: no-repeat;
	background-position: right;
}

#head_contents_menu {
	display:block;
	width: 900px;
	height: 30px;
	margin:auto;
	clear:both;
	background-color: transparent;
	background-image: url(../../images/header_menu.gif);
	background-repeat: no-repeat;
}

ul#nav2 li {
	list-style-type:none;
	float:left;
	padding:0 0 0 5px;
}


/*:トップへのくだり:::*/

#for_top_wrap {
	height: 30px;
	display:block;
	clear:both;
	padding-top: 10px;
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 100px;
	margin-left: 0;
}

/*:page:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

div#page {
	width: 900px;
	padding-top: 0px;
	margin: 0 auto;
	background:transparent url(images/index.logo.gif) no-repeat scroll 0%;
	position:relative;
}


div#head_page {
	width: 900px;
	height: 50px;
	background: #FFE;
	display:block;
}

.hedder_menu{
	padding: 0px;
	margin: 0px;
	color: #FFFFFF; 
	text-align: right;
	clear:both;
}

div#base_box {
	width: 900px;
	margin: 0px;
	padding: 0px;
	background: #EEEEEE;
	float: left;
}

/*:main:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

div#column p {
	margin: 0px 0px 10px 0px;
}

div#profile_l {
	width: 160px;
	margin: 0;
	padding: 0px;
	float: left;
	color: #666666;
}

div#profile_r {
	width: 470px;
	margin: 0;
	padding-left: 10px;
	float: right;
	color: #666666;
	border-left: 1px solid #3CBDD9;
	line-height:120%;}

#shop_guide {
	width: 650px;
	height:100%;
	min-height: 185px;
	margin-bottom: 15px;
	padding: 0px;
	color: #666666;
	overflow:hidden;
	clear: both;
}

.bule {color:#3CBDD9;}

#shop_guide .box01 {
	width: 650px;
	height:100%;
	margin: 0;
	padding: 0;
	float: left;
	line-height:120%;
	clear: both;
}
#shop_guide .box01 p {
	font-size:90%;
}
#shop_guide .box01 a {
	color: #004894;
}
#shop_guide .box02 {
	width: 650px;
	margin:5px 0 0 0;
	clear: both;
}
#shop_guide .box02 p {
	width: 260px;
	font-size:80%;
}
#shop_guide .box02 img{
    margin:0 0 0 5px;
	float: right
}

/*:product:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#products_18g {
	width: 650px;
	height: 350px;
	float:left;
	margin-bottom: 10px;
	background-image: url(../../products/images02/title_pro02_image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#products_18g .price{
    width:200px;
	height:350px;
	float:right;
}
#products_18g.price li{
	list-style-type:none;
}

#floatboxwrap {
	float:left;
	width: 650px;
	margin-bottom: 10px;
	background:url(../../products/images02/bg_floatbox.gif) no-repeat left bottom;
}

.floatbox {
	float:left;
	width: 210px;
	margin-left: 10px;
	position:inherit;
}

.first {
	float:left;
	width: 210px;
	margin-left: 0;
}

.floatbox h6 {
	padding-left: 4px;
	width:204px;
	border-top:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
}

.floatbox p {
	height: 105px;
	padding: 0 10px 10px;
	line-height:150%;
}

.floatbox > p {
	height:auto;
	min-height:105px;
}

#brandboxwrap {
	float:left;
	width: 650px;
	margin-bottom: 10px;
}

.brandbox {
	float:left;
	width: 320px;
	margin-left: 10px;
	border-top:1px solid #E5E5E5;
}	

.first {margin-left: 0;}

.brandbox p {
	height: 75px;
	padding: 7px 8px 0px;
	line-height:150%;
}

.brandbox > p {
	height:auto;
	min-height:75px;
}


.ranktitle {
	width:65px;
	margin: 0px;
}

.rankboxwrap {
	float:left;
	width: 650px;
	margin-bottom: 10px;
}

.smen {background:url(../../products/images02/bg_pro03_smens.gif) no-repeat left bottom;}

.swomen {background:url(../../products/images02/bg_pro03_swomens.gif) no-repeat left bottom;}

.ymen {background:url(../../products/images02/bg_pro03_ymens.gif) no-repeat left bottom;}

.ywomen {background:url(../../products/images02/bg_pro03_ywomens.gif) no-repeat left bottom;}

.rankbox {
	float:left;
	width: 210px;
	margin-left: 7px;
}

.rankleft {margin-left: 1px;}

.rankbox h6 {
	width:200px;
	font-weight:bolder;
	text-align:center;
	margin-left: 6px;
}

.rankbox p {
	height: 60px;
	padding: 5px 7px;
	line-height:150%;
	clear: both;
}

.rankbox_end {
	float:right;
	width: 210px;
	margin-right: 8px;
}

.rankbox_end h6 {
	width:200px;
	font-weight:bolder;
	text-align:center;
	margin-left: 6px;
}

.rankbox_end p {
	height: 60px;
	padding: 5px 7px;
	line-height:150%;
	clear: both;
}

.rankbox > p {
	height:auto;
	min-height: 60px;
}

#originalcont {
	float:left;
	width: 650px;
	padding-left: 145px;
	margin-bottom: 10px;
	background:url(../../products/images02/title_pro04_artvision.gif) no-repeat left top;
}
	
#originalboxwrap {
	float:left;
	width: 500px;
	margin-left: 10px;
	margin-bottom: 15px;
}
	
.originalbox {
	float:left;
	width: 240px;
	margin-left: 10px;
	font-size:95%;
}

.first{	margin-left: 0px;}

.piercing p{margin-top:-35px; 	width: 145px;}


.muryo p{
	margin:-80px 0 20px 15px;
	padding-bottom: 5px;
	width: 180px;
	min-height:60px;
}

.childframe {
	float:left;
	width: 650px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	background: url(../../products/images02/bg_pro06.gif) no-repeat left bottom;
}

.childframe li {
	height: 50px;
	margin:  6px 0 0 40px;
	padding-left:25px;
	line-height:120%;
}

.childframe li.c01{background:url(../../products/images02/pro06_no1.gif) no-repeat left top;}
.childframe li.c02{background:url(../../products/images02/pro06_no2.gif) no-repeat left top;}
.childframe li.c03{background:url(../../products/images02/pro06_no3.gif) no-repeat left top;}
.childframe li.c04{background:url(../../products/images02/pro06_no4.gif) no-repeat left top;}
.childframe li.c05{background:url(../../products/images02/pro06_no5.gif) no-repeat left top;}
.childframe li.c06{background:url(../../products/images02/pro06_no6.gif) no-repeat left top;}

.childframe p {	margin-left: 20px;
}
.childframe strong {color:#CC0000; font-size:110%;}
.childframe > p {
	height:auto;
	min-height:60px;
}


#application {
	width: 650px;
	margin: 0;
}

#application dt{
	color: #867AB0;
	font-weight:bold;
	margin:10px 0px 3px;
	font-size:90%;
}

#application p{
	line-height: 150%;
	color: #666;
	font: 80%;
	margin:0 0 0 8px;
}

#application img{
	margin-bottom: 5px;
}


#application a {
	color: #004894;
}

#box04 {
	width: 550px;
	height:320px;
	padding: 0 100px 0 0;
	margin: 0;
	line-height: 130%;
	background:url(../../kodawari/images04/kodawari_02.gif) no-repeat;
	clear:both;
}

#kodawariboxwrap {
	float:left;
	width: 650px;
	margin-bottom: 10px;
}

.kodawaribox {
	float:left;
	width: 210px;
	margin-left: 10px;
}
.sengen{
	float:left;
	width: 650px;
	background-image: url(../../kodawari/images04/kodawari_01.jpg);
	background-repeat: no-repeat;
	height: 215px;
}

.first {margin-left: 0;}

.kodawaribox h6 {width:210px;}

.kodawaribox p {
	height: 80px;
	padding: 0 5px 7px 10px;
	line-height:150%;
}

.kodawaribox > p {
	height:auto;
	min-height:80px;
}


#contacts {
	width: 650px;
	margin: 0;
}

#contacts a {
	color: #004894;
}
#contacts p{margin-bottom: 10px;}
#contacts img{margin-bottom: 5px;}


#privacy {
	width: 620px;
	height: 120%;
	min-height: 200px;
	padding: 45px 15px 5px;
	background:	#F7F0D7 url(../../others/images07/privacy_copy.gif) top no-repeat;
	font-size: 75%;
	line-height: 160%;
}	

#privacy dt {
	margin-bottom:3px;
	font-weight: bold;
}
#privacy dd {
    font-size:90%;
    font-style:normal;
}

.pcell{
	padding-top: 5px;
	margin-top: 5px;
	border-top: dashed 1px;
}	
.syomei { 
	width: 140px;
	padding: 5px 10px 10px 500px;
	margin: 0;
	background: #F7F0D7;
	font-size: 80%;
}

#sitemap {
	width: 610px;
	height: 100%;
	padding-left: 10px;
	margin: 0;
	font-size: 90%;
	text-decoration:none;
	color:#004894;}

.site_01 {
	font-weight:bold;
	margin-bottom:5px;
	font-size:95%;
	text-decoration:none;
}
.site_01 a{
	text-decoration:none;
	color:#004894;
}
#sitemap a:hover{text-decoration: underline;}

.sub-link {
	margin-bottom:3px;
	margin-left:20px;
	font-size: 90%;
}
.sub-link a{ text-decoration:none; color:#666;}
.sub-link a:hover{text-decoration: underline;}

.mapborder {
	border-left:1px solid #666;
	margin-left:-2px;
	padding: 0 7px;
}

.site_02 {
	color:#004894;
	font-weight:bold;
	font-size:95%;
	margin: 20px 0 5px;
	text-decoration:none;}
.site_02 a{
	text-decoration:none;
	color:#004894;
}



/*:table:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.cellspace {
	margin-bottom: 4px;
	float: left;
}

.shop_cell_left {
	float: left;
	height: 100%;
	width: 85px;
	margin-right:10px;
	margin-bottom: 22px;
}
.shop_cell_right {
	float: right;
	width: 650px;
	margin-bottom: 20px;
}

.cell01 {
	width: 100px;
	height:20px;
	text-align: left;
	color: #666;
	background-color: #EEE;
	font-weight: bold;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 3px 8px;
}

.cell02 {
	width: 250px;
	height:20px;
	text-align: left;
	color: #666;
	border-bottom: 1px solid #CCC;
	padding: 3px 8px;
}

.cell03 {
	width: 158px;
	height:20px;
	text-align: left;
	color: #666;
	border-bottom: 1px solid #CCC;
	padding: 3px 8px;
}
.cell04 {
	width: 80px;
	height:20px;
	margin: 0;
	text-align: left;
	color: #666;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}


.imgbox {
	margin: 0px 0px 1em 40px;
}
.imgbox img{
	border: 1px solid #666666;
}
.imgbox_f {
	margin: 5px 20px 1em;
	float: right;
}
.imgbox_f img{
	border: 1px solid #666666;
}
#wrap #content .column .profiletable td {
	padding: 5px 10px;
	margin: 0;
	border-bottom:1px dotted #333333;
	font-size:90%;}
#wrap #content .column #shop_guide .box01 img {
	padding-right: 0px;
	padding-left: 5px;
}



.break{
    page-break-after: always;
}
